body {
    background-color: #ADB5BD;
    margin: 0;

}

@viewport {
    width: device-width;
    zoom: 1.0;
}

html {
    background-color: transparent;
}


.container {
    height: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0% 0%;
    align-content: center;
    position: relative; 
    overflow: none; 
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}
@media only screen and (max-width: 768px) {
    img {
        height: 100%;
        width: 80%;
    }
    svg {
        height: 20%;
        width: 80%;
    }
}

@media only screen and (max-width:1024px) {
    img {
        height: 100%;
        width: 80%;
    }
    svg {
        height: 20%;
        width: 80%;
    }
}

header {
    height: 50%;
    border: 0% 0%;
    padding: 0%;
    font-size: 24px;
    text-align: center;
    color: #B54D03;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FFE0AD;
}

h1 {
    margin: 0;
}




#utahMap {
    align-content: center;
}

.img-overlay-wrap {
    position: relative;
    display: inline-block;
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
}

/* css for the modal */
.current-date {
    font-size: 25px;
    font-weight: bold;
    
    }
    
    .current-weather-icon {
    width: 200px;
    height: 200px;
    
    }
    
    .current-weather-values {
    font-size: 50 px;
    
    }
    
    #tab-content p {
        display: none;
      }
     #tab-content p.is-active {
        display: block;
      }
    
      .image {
        width: 700px;
        
    

      }
    
      .tabs {
    flex: flex-wrap;
    
    
      }






