
html {
    height: 170%;
    width: 100%;
    background: url(Assets/backgroundmtns2.png) no-repeat;
    background-size: cover;
    overflow: auto;
    background-color: transparent;
}


body {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
    background-size: contain;
}

.paragraph {
    background-color: transparent;
    color: #FFE0AD;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 2%;
    font-size: 20px;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}



.container {
    height: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0% 0%;
    align-content: center;
    position: relative; 
    overflow: none; 
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}


@media only screen and (max-width: 3408px) {
    img {
        height: 105%;
        width: 42%;
    }
    svg {
        height: 3%;
        width: 40%;
    }
    .map-container {
        height: 105%;
        width: 42%
    }
}

@media only screen and (max-width: 1084px) {
    img {
        height: 105%;
        width: 63%;
    }
    svg {
        height: 10%;
        width: 60%;
    }
    .map-container {
        height: 105%; 
        width: 63%;
    }

}

@media only screen and (max-width: 768px) {
    img {
        height: 105%;
        width: 83%;
    }
    svg {
        height: 20%;
        width: 80%;
    }
    .map-container {
        height: 105%; 
        width: 50%;
    }
}

.header1 {
    height: 50%;
    border: 0% 0%;
    padding: 0%;
    font-size: 46px;
    text-align: center;
    color: #FFE0AD;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: transparent;
}

.header2 {
    font-size: 20px;
    text-align: center;
    color: #FFE0AD;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: transparent;
}

#map { 
    position: relative; 
    height: 500px;
    width: 550px;
    border: solid;
    border-width: thin;
    
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }




h1 {
    margin: 0;
}




#utahMap {
    align-content: center;
}

.img-overlay-wrap {
    position: relative;
    display: inline-block;
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
}

/* css for the modal */
.current-date {
    font-size: 25px;
    font-weight: bold;
    
    }
    
    .current-weather-icon {
    width: 200px;
    height: 200px;
    
    }
    
    .current-weather-values {
    font-size: 50px;
    
    }
    
    #tab-content p {
        display: none;
      }
     #tab-content p.is-active {
        display: block;
      }
    
      .image {
        width: 700px;
        
    

      }
    
      .tabs {
    flex: flex-wrap;
    
    
    }
    .modal-card-title {
        font-weight: 600;
        font-size: 35px;


    }

.icon {
    max-width: 25%;
    height: auto;
}

.headerbg {
    background-color: #e1e8f0;
}

.current-forecast {
    background-size: cover;
    background-color: white;
}

.weather-text {
    font-size: 30px;
    font-weight: bold;
}

#current-weather {
    font-size: 20px;
    font-weight: bold;
}

.rec-title {
    text-align: center;
}

.five-day-text {
    font-size: 13px;
}

.flash-flood {
    font-size: 12px;
}