body {
  background-image: url("/assets/149269.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

html {
  background-color: transparent;
}


.container {
  height: 70%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0% 0%;
  align-content: center;
  position: relative; 
  overflow: none; 
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
}


@media only screen and (max-width: 3408px) {
  img {
      height: 100%;
      width: 40%;
  }
  svg {
      height: 2%;
      width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  img {
      height: 100%;
      width: 80%;
  }
  svg {
      height: 20%;
      width: 80%;
  }
}

.header1 {
  height: 50%;
  border: 0% 0%;
  padding: 0%;
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  text-transform: uppercase;
  text-shadow: 1px 1px gray;

}

#map { 
  position: absolute; 
  height: 500px;
  width: 500px; 
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }




h1 {
  margin: 0;
}




#utahMap {
  align-content: center;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block;
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* css for the modal */
.current-date {
  font-size: 25px;
  font-weight: bold;
  
  }
  
  .current-weather-icon {
  width: 200px;
  height: 200px;
  
  }
  
  .current-weather-values {
  font-size: 50px;
  
  }
  
  #tab-content p {
      display: none;
    }
   #tab-content p.is-active {
      display: block;
    }
  
    .image {
      width: 700px;
      
  

    }
  
    .tabs {
  flex: flex-wrap;
  
  
  }
  .modal-card-title {
      font-weight: 600;
      font-size: 35px;


  }

.icon {
  max-width: 25%;
  height: auto;
}

.headerbg {
  background-color: #e1e8f0;
}

.current-forecast {
  background-size: cover;
  background-color: white;
}

.weather-text {
  font-size: 30px;
  font-weight: bold;
}

#current-weather {
  font-size: 20px;
  font-weight: bold;
}

.rec-title {
  text-decoration: underline;
}

#region-name-h1 {
  font-family: 'PT Sans', sans-serif;
}

.five-day-text {
  font-size:14px;
}

.main-subtitle {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}